/*
  Modification to the ipynb.css.

  These modifications are to match the IPython notebook with the main.css
  theme, that I use in the rest of the website/blog.

  The classes are basically adjusted from ipynb.css. Have a look at ipynb.css
  for more information, but brace yourself, it contains roughly 1600 lines..

*/

div.cell {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;
  width: 100%;
}
.border-box-sizing {
  box-sizing: border-box;
}
div.input,
div.output { /* parts of .codehilite */
  align-items: stretch;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu Mono';
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;
  page-break-inside: avoid;
}
div.input_prompt {
  color: #009;
}
div.output_prompt {
  color: #900;
}
div.prompt,
div.prompt:empty {
  margin: 0;
  min-width: 9ex;
  padding-right: 10px;
  text-align: right;
}
div.inner_cell {
  align-items: stretch;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -moz-box-align: stretch;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}
div.input_area { /* parts of .codehilite pre */
  background: #fff;
  padding-left: 10px;
  margin-bottom: 1em;
  border-color: #ccc #ccc #ccc #900;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  max-width: 100%;
  overflow: auto;
}
pre { /* parts of .codehilite pre */
  margin: 0;
}
div.output_area {
  line-height: 1.1em;
}
div.output_wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;
  position: relative;
}
div.output_area {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;
  padding: 0;
  page-break-inside: avoid;
}
div.output_subarea {
  flex: 1 1 0%;
  -moz-box-flex: 1;
  padding: .4em .4em 0;
}

/*
  Overwriting pygments.css
  It is the colour of LaTeX-rendered math in markdown cells.
*/
.mi,
.mo {
  color: #000;
}

img {

    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0px none;

}
