/*
  Modification to the ipynb.css.

  These modifications are to match the IPython notebook with the main.css
  theme, that I use in the rest of the website/blog.

  The classes are basically adjusted from ipynb.css. Have a look at ipynb.css
  for more information, but brace yourself, it contains roughly 1600 lines..
  That's the reason I don't use it anymore at all; it defines way more than
  I need, and you can never be sure if it affects another part of your design.

*/
.cell {
  display: block;
  margin: 1em 0;
  width: 100%;
}
.input,
.output { /* .codehilite */
  font-family: 'Ubuntu Mono';
  font-weight: normal;
  line-height: 1.3em;
  margin: 0;
}
.input_prompt {
  color: #009;
}
.output_prompt {
  color: #900;
}
.input_prompt,
.output_prompt {
  background: #eee;
  margin: 1em 0 .5em;
  padding-left: 10px;
}
.input_area { /* .codehilite pre */
  background: #fff;
  border-color: #ccc #ccc #ccc #900;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  margin-left: 10px;
  max-width: 100%;
  overflow: auto;
  padding-left: 10px;
}
.input_area pre,
.output_area pre {
  font-family: 'Ubuntu Mono';
  font-weight: normal;
  margin: 0;
}
.output_subarea {
  line-height: 1.2em;
  padding: 1em 0 0 10px;
}
.output_subarea img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
/*
  Overwriting pygments.css
  This is the colour of LaTeX-rendered math in markdown cells.
*/
.rendered_html .mi,
.rendered_html .mo {
  color: #000;
}

