/*
  Main CSS file of pelican-theme `dashof-simple`.
  2015 Dieter Werthmuller
  *
  License: CC0 1.0; https://creativecommons.org/publicdomain/zero/1.0/
*/
@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

/* Mexican Colours
   - Green #006847
   - White #FFFFFF
   - Red   #CE1126
*/

/*
  GENERAL SETTINGS
*/
html {
  height: 100%;
}
body {
  background: #eee;
  color: #000;
  font-family: 'Merriweather', sans-serif;
  font-size: 1em;
  font-weight: 300;
  height: 99.5%;
  line-height: 1.7em;
  margin: auto;
  max-width: 1050px;
  min-width: 320px; /* Responsive design (@media at the bottom) takes care */
  padding: 0;                         /* down to 320px. That's the minimum */
  text-align: left;
  width: 100%;
}
code {
  font-family: 'Cutive+Mono', sans-serif;
}
header,
nav,
main,
section,
article,
summary,
footer { /* HTML structural elements */
  display: block;
}
.print {
    display: none;
  }
.web {
    display: inline;
  }
a:link,
a:visited {
  color: #006847;
  text-decoration: none;
}
a:hover,
a:active {
  color: #CE1126;
  transition: .5s;
}
img {
  border: 0 none;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Tabel stuff */
table {
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: #eee;
}
th {
  background: #aaa;
  color: #006847;
  font-weight: bold;
}
td, th {
  padding: 6px 20px;
  border: 0px solid #ccc;
}

/* Settings for md_inline_extension
  - crcb  (+=+): centred, rounded corners, block
  - cnf   (+=-): centred, no frame, block
  - crcnb (+-+): centred, rounded corners, no block
  - cnfnb (+--): centred, no frame, no block
  - ctxt (+++): for caption
  - ltxt (=++): left-aligned, 90 % width for quotes etc.
 BETTER SOLUTIONS ARE WELCOMED!
*/
.ctxt {
  display: block;
  font-size: .9em;
  font-style: italic;
  text-align: center;
  margin: 0 auto 2em;
}
.ltxt {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
.cnf,
.crcnb,
.cnfnb,
.crcb { /* crcb: blog-image with caption */
  display: block;
  font-size: .9em;
  font-style: italic;
  text-align: center;
}
.cnf img,
.cnfnb img,
.crcnb img,
.crcb img {
  border: 0px none;
  height: auto;
  margin: 5px auto;
  max-width: 100%;
  vertical-align: middle;
}
.crcnb img,
.crcb img {
  border-radius: 10px;
  box-shadow: 0 0 2px #006847;
}
.cnfnb img,
.crcnb img {
  display: inline;
  margin: 5px;
}

.hgrad:before { /* Horizontal green gradient */
  background: linear-gradient(to right, #fff 0%,#000 50%,#fff 100%);
  content: "";
  display: block;
  height: 1px;
  width: 100%;
}
/*
  WRAPPER
  Needed so footer is at bottom if page is less than 100 % height
*/
#wrapper {
  background: #FFF;
  min-height: 100%;
  position: relative;
}
/*
  HEADER
*/
header {
  text-align: center;
}
header h1 {
  display: inline-block;
  font-family: 'Special Elite';
  font-size: 2.5em;
  font-weight: 400;
  margin: 1em 0 0 0;
}
header h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 1em 0 0 0;
}
header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
  color: #CE1126;
}
header h2 a:link,
header h2 a:visited,
header h2 a:hover,
header h2 a:active {
  color: #000;
}

/*
  NAVIGATION
*/
nav {
  font-family: 'Special Elite';
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}
nav ul {
  display: inline-block;
  list-style: none;
  margin: 3px auto;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline;
  margin: 0 1.3em;
}
nav a:link,
nav a:visited {
  color: #000;
  text-decoration: none;
}
nav a:hover,
nav a:active {
  color: #CE1126;
  transition: .5s;
}

.active a:link,
.active a:visited,
.active a:hover,
.activev a:active {
  color: #CE1126;
}

/*
  MAIN BODY
*/
main {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 50px;
  width: 95%;
}
main h1 {
  margin: 1.5em 0 1em;
}
main h1,
main h2 {
  line-height: 1.5em;
}
.post-title {} /* Blog head area */
.post-list { /* List of posts */
  text-align: center;
}
.post-title h1,
.post-title h3,
.post-title h4,
.post-list h2,
.post-list h4 {
  font-weight: 400;
  font-family: 'Special Elite';
}
.post-title h1 {
  margin:  1em 0 0 0;
}
.post-title h3 {
  margin: 0 ;
}
.post-title h4 {
  margin: .5em 0 1.5em 1.5em;
}
.post-list h2 {
  margin: 1.5em 0 .2em 0;
}
.post-list h4 {
  margin: 0 0 0 1em;
}
.post-list ul {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.post-list li {
  display: inline;
  margin: 0 auto;
}
.post-list img {
  display: block;
  margin: .5em auto;
  max-width: 200px;
}
.paginator { /* On blog-index for next/previous */
  text-align: center;
  padding: 2em 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.comsection { /* Comments section */
  margin-top: 5em;
}

/*
  Contact form
*/
.mail-me {
  line-height: 1.6;
  margin: 0 2em 0 0;
  max-width: 500px;
  padding: 15px;
}
.mail-me h3 {
  font-weight: 700;
  margin: 10px 0 0;
  padding: 0 0 0 10px;
}
.mail-me input[type="text"],
.mail-me textarea {
  border: 1px solid #006847;
  border-radius: 4px;
  height: 20px;
  margin: 2px 6px 16px 0;
  outline: 0 none;
  padding: 10px;
  width: 100%;
}
.mail-me input[type="text"]:focus,
.mail-me textarea:focus {
  box-shadow: 0 0 4px #006847;
}
.mail-me textarea {
  height: 100px;
}
.error_strings { /* Error by sending message; class from gen_validatorv4.js */
  color: #CE1126;
}

/*
  FOOTER
*/
footer {
  bottom: 0;
  height: 25px;
  position: absolute;
  text-align: center;
  width: 100%;
}
footer p {
  font-size: .8em;
  font-weight: 300;
  margin: 0;
}
footer p a:link,
footer p a:hover,
footer p a:visited,
footer p a:active {
  color: #000;
  font-weight: 400;
}

/*
  Buttons
*/
.button,
.tightbutton {
  background: #eee;
  border: 2px solid #CE1126;
  border-radius: 4px;
  color: #006847;
  display: inline-block;
  font-weight: 700;
  padding: 10px 25px;
}
.tightbutton {
  padding: 2px 4px;
}
.button:hover,
.button:active,
.tightbutton:hover,
.tightbutton:active{
  color: #006847;
  transition: .5s;
  box-shadow: 0 0 4px #CE1126; 
}

/*
  RESPONSIVE DESIGN
*/

/*
  Screens less than 843px
  Main is 95% of page-width, to a maximum of 800px. If the width is 800px, the
  total width is 800px/0.95 ~ 842.1px. That is when we get rid of the left
  border-line, as the content fills the whole page width.
*/
@media all and (max-width: 842px) {
}

/*
  Screens less than 480px
  If width is smaller than 480px, we have to decrease title and foot
  font-sizes, and some of the margin/padding, in order to fit the whole title,
  nav-bar, link-bar, and bottom-comment on one line each.
*/
@media all and (max-width: 479px) {
  header h1 {
    font-size: 2.2em;
  }
  nav li,
  footer li {
    margin: 0 .5em;
  }
  footer p {
    font-size: .7em;
  }
}

/*
  Screens less than 360px
  Further decrease the font-size of the title, to fit width. Note, 320px is set
  to min-width in html (top of main.css), if width is <320px a horizontal
  scroll-bar will appear.
*/
@media all and (max-width: 359px) {
  header h1 {
    font-size: 2em;
  }
}

/*
  Print settings
*/
@media print {
  body {
    background: #fff;
    width: 820px;
  }
  main {
    width: 810px;
  }
  .print {
    display: inline;
  }
  .web,
  nav,
  header h1,
  header h2,
  .comsection,
  .paginator,
  .button {
    display: none;
  }
  footer {
    font-family: 'Special Elite';
    position: relative;
    font-weight: 400;
    font-size: 1em;
  }
  .cnf,
  .cnfnb,
  .crcnb,
  .crcb {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}
