{% extends "base.html" %}

{% block title %}
{{ SITENAME }} | {{ article.title }}
{% endblock %}

{% block head %}
  {% for keyword in article.keywords %}<meta name="keywords" contents="{{keyword}}" />{% endfor %}
  {% for description in article.description %}<meta name="description" contents="{{description}}" />{% endfor %}
  {% for tag in article.tags %}<meta name="tags" contents="{{tag}}" />{% endfor %}
{% endblock head%}

{% block content %}

      <div class="post-title">
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {% if article.subtitle %} <h3> {{ article.subtitle }} </h3>{% endif %}
        <h4>{{ article.locale_date }}</h4>
      </div>

      <article>
        {{ article.content }}

        <div class="paginator">
          {% if article.prev_article %}
          <p class='left'>
            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">&laquo;&nbsp;{{ article.prev_article.title }}</a>
          </p>
          {% endif %}
          {% if article.next_article %}
          <p class='right'>
            <a href="{{ SITEURL }}/{{ article.next_article.url}}">{{ article.next_article.title }}&nbsp;&raquo;</a>
          </p>
          {% endif %}
        </div>

      </article>

      {% if SITEURL and article.status != "draft" %}
        <div class="comsection">
          <div class="comments">
            <h2>Kommentare</h2>
            <script type="text/javascript" src="/hashover.js"></script>
            <noscript>JavaScript muss aktiviert sein um Kommentare zu sehen und zu schreiben.</noscript>
          </div>
        </div>
      {% endif %}

{% endblock content %}
