<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  {% block head %}
  {% endblock head %}
  <meta name="description" content="{{ SITENAME }}">
  <meta name="author" content="{{ AUTHOR }}">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="wrapper"><!-- Wrapper makes sure body does not overlap footer -->

    <header>
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
      <h2>{{ SITESUBTITLE }}</h2>
    </header>

    <nav>
      <ul>
        {% for name, url in MENUITEMS %}
        <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <ul>
        {% for name, url in LINKS %}
        <li><a class="libracket" href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
      <p class="hgrad">{{ FOOTER }}</p>
    </footer>

  </div><!-- /#wrapper -->
</body>

</html>
