{% extends "base.html" %}
{% block title %}
{{ SITENAME }} | Blog
{% endblock %}
{% block content %}
            <h1 class="con-title">Blog</h1>
{% endblock content %}
{% block content_body %}
              <section class="optborder">
                <ol class="post-list">
                  {% for article in articles_page.object_list %}
                  <li class="post-list">
                    <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    <p class="post-info"> {{ article.locale_date }} </p>
                    <p class="post-summary"> {{ article.summary }} </p>
                  </li>
                  {% endfor %}
                </ol><!-- /#posts-list -->
              </section>
              {% include 'pagination.html' %}
{% endblock content_body %}
