{% extends "base.html" %}

{% block title %}
{{ SITENAME }}
{% endblock %}

{% block content %}

      <section class="post-list">
          {% for article in articles_page.object_list %}
          <article>
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <h4> {{ article.locale_date }} </h4>
            {{ article.summary }}
          </article>
          {% endfor %}
      </section>

      {% if DEFAULT_PAGINATION %}
      <div class="paginator">
      {% if articles_page.has_previous() %}
      <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
      {% endif %}
      Seite {{ articles_page.number }} / {{ articles_paginator.num_pages }}
      {% if articles_page.has_next() %}
      <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
      {% endif %}
      </div>
      {% endif %}

{% endblock content %}
