{% extends "base.html" %}

{% block title %}
{{ SITENAME }} | Blog
{% endblock %}

{% block content %}
      <div class="noborder">
          <h1>Blog <a href="{{ SITEURL }}{{ FEED_ALL_ATOM }}"><img src="{{ SITEURL }}/images/rss.png" alt="" /></a></h1>
      </div>

      <section class="optborder post-list">
          {% for article in articles_page.object_list %}
          <article>
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <h4> {{ article.locale_date }} </h4>
            {{ article.summary }}
          </article>
          {% endfor %}
      </section>

      {% if DEFAULT_PAGINATION %}
      <div class="paginator">
      {% if articles_page.has_previous() %}
      <a class="tightbutton left" href="{{ SITEURL }}/{{ BLOGDIR }}/{{ articles_previous_page.url }}">&laquo;</a>
      {% endif %}
      Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
      {% if articles_page.has_next() %}
      <a class="tightbutton right" href="{{ SITEURL }}/{{ BLOGDIR }}/{{ articles_next_page.url }}">&raquo;</a>
      {% endif %}
      </div>
      {% endif %}

{% endblock content %}
